@import url(./style.css);

.content-main-subject article:hover{
    scale: 1.1;
    filter: brightness(0.98);
}

.show-sign-up h2:hover{
    color: rgba(91,33,255,0.7);;
    filter: brightness(.5);
}

.show-sign-up h2:hover::after{
    content: " ";
    width: 16rem;
    height: 5px;
    border-radius: 50rem;
    background: rgba(91,33,255,0.7);
    position: absolute;
    bottom: 5px;
    left: 0;
}

.switch{
    color: rgba(91,33,255,0.7);;
    filter: brightness(.5);
}

.switch-op::after{
    content: " ";
    width: 16rem;
    height: 5px;
    border-radius: 50rem;
    background: rgba(91,33,255,0.7);
    position: absolute;
    bottom: 5px;
    left: 0;
}

header nav ul li a:hover,
.user-account a:hover{
    opacity: 60%;
}

.highlight-content button:hover{
    filter: brightness(1.3);
    scale: 1.1;
    transition: 0.5s;
}

#clientSignUpModal form fieldset:last-child input:hover{
    filter: brightness(1.3);
}

#clientSignUpModal form fieldset:last-child button:hover{
    filter: brightness(.9);
}

#clientSignUpModal .insert-data p strong:hover{
    color: blueviolet;
}

#clientSignUpModal .insert-data p strong:hover::after{
    content: " ";
    width: 7rem;
    height: 1px;
    border-radius: 50rem;
    background: rgba(91,33,255,0.7);
    position: absolute;
    bottom: 1px;
    left: 0;
}

#animalSignUpModal form fieldset + input:hover{
    filter: brightness(1.3);
    transition: 0.5s;
}

.sign-data-content .data .buttons a:hover{
    scale: 1.1;
    filter: brightness(1.3);
    transition: 0.5s;
}

footer nav li a:hover .marker{
    opacity: 800%;
}

footer .newsletter .box .send-email button:hover{
    filter: brightness(1.3);
    scale: 1.1;
    transition: 0.5s;
}

footer .contact .contact-reference .contact-reference-info h5 a:hover{
    opacity: 70%;
}

footer .newsletter .box .social-media ul li:hover{
    filter: brightness(1.3);
    scale: 1.3;
    transition: 0.5s;
}